body {

}

.credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.credits p {
  display: inline-block;
  vertical-align: middle;
}

.credits a {
  vertical-align: middle;
  margin-left: 10px;
}

.login {
  width: 500px;
  height: 240px;
  position: absolute;
  top: calc(45vh - 240px/2);
  left: calc(50% - 250px);
}

.login button {
  margin-right: 10px;
  margin-top: 10px;
}

.login input {
  margin-bottom: 15px;
}

.register {
  width: 500px;
  height: 330px;
  position: absolute;
  top: calc(42vh - 330px/2);
  left: calc(50% - 250px);
}

.register button {
  margin-right: 10px;
  margin-top: 10px;
}

.register input {
  margin-bottom: 15px;
}
